layout {
    tab hide_floating_panes=true {
        floating_panes {
            pane {
                x "10%"
                y "10%"
                height "80%"
                width "80%"
            }
        }
        pane split_direction="horizontal" {
            pane size="60%" command="broot"
        }
    }
}
