keybinds clear-defaults=true {
    shared_except "locked" {
        bind "F10" { Quit; }

        bind "Alt Left" { MoveFocus "Left"; }
        bind "Alt Right" { MoveFocus "Right"; }
        bind "Alt Down" { MoveFocus "Down"; }
        bind "Alt Up" { MoveFocus "Up"; }
        bind "F1" { ToggleFloatingPanes; SwitchFocus; }
        bind "Alt F1" { SwitchFocus; }
    }

    pane {
        bind "Ctrl p" { SwitchToMode "Normal"; }
        
        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

themes {
    spacedust {
        fg 218 217 187
        bg 4 30 35
        red 227 90 0
        green 73 157 143
        yellow 235 196 98
        blue 0 158 197
        magenta 178 148 187
        orange 222 147 95
        cyan 0 158 197
        black 0 0 0
        white 255 255 255
    }
}

theme "spacedust"
default_layout "ide"
mouse_mode false
default_shell "bash"
pane_frames true
