name: Build image

on:
  workflow_dispatch:
  schedule:
  - cron: '30 2 * * *'

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: image
      REGISTRY: ghcr.io/queil
    steps:

      - name: Clone the repository
        uses: actions/checkout@v3

      - name: "Fix no space left on device"
        run: rm -rf /opt/hostedtoolcache

      - name: Log in to the GitHub Container registry
        uses: redhat-actions/podman-login@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      # ---- HUGO ----

      # - name: hugo
      #   id: hugo
      #   uses: redhat-actions/buildah-build@v2
      #   with:
      #     image: ${{ env.IMAGE_NAME }}
      #     tags: hugo
      #     context: .
      #     containerfiles: |
      #       ./images/hugo.Containerfile

      # - name: Push hugo
      #   uses: redhat-actions/push-to-registry@v2
      #   with:
      #     image: ${{ steps.hugo.outputs.image }}
      #     tags: ${{ steps.hugo.outputs.tags }}
      #     registry: ${{ env.REGISTRY }}


      - name: nodejs
        id: nodejs
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: nodejs
          context: .
          containerfiles: |
            ./images/nodejs.Containerfile

      - name: Push nodejs
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.nodejs.outputs.image }}
          tags: ${{ steps.nodejs.outputs.tags }}
          registry: ${{ env.REGISTRY }}

      # ---- MKDOCS ----

      # - name: mkdocs
        # id: mkdocs
        # uses: redhat-actions/buildah-build@v2
        # with:
          # image: ${{ env.IMAGE_NAME }}
          # tags: mkdocs
          # context: .
          # containerfiles: |
            # ./images/mkdocs.Containerfile
# 
      # - name: Push mkdocs
        # uses: redhat-actions/push-to-registry@v2
        # with:
          # image: ${{ steps.mkdocs.outputs.image }}
          # tags: ${{ steps.mkdocs.outputs.tags }}
          # registry: ${{ env.REGISTRY }}



      # ---- DOTNET 8 ----

      - name: dotnet-10
        id: dotnet10
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: dotnet-10
          context: .
          containerfiles: |
            ./images/dotnet-10.Containerfile

      - name: Push dotnet-10
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.dotnet10.outputs.image }}
          tags: ${{ steps.dotnet10.outputs.tags }}
          registry: ${{ env.REGISTRY }}


      - name: aks
        id: aks
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: aks
          context: .
          containerfiles: |
            ./images/aks.Containerfile

      - name: Push aks
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.aks.outputs.image }}
          tags: ${{ steps.aks.outputs.tags }}
          registry: ${{ env.REGISTRY }}

      # k3s

      - name: k3s
        id: k3s
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: k3s
          context: .
          containerfiles: |
            ./images/k3s.Containerfile

      - name: Push k3s
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.k3s.outputs.image }}
          tags: ${{ steps.k3s.outputs.tags }}
          registry: ${{ env.REGISTRY }}

      # ---- RUST ----

      # - name: rust
        # id: rust
        # uses: redhat-actions/buildah-build@v2
        # with:
          # image: ${{ env.IMAGE_NAME }}
          # tags: rust
          # context: .
          # containerfiles: |
            # ./images/rust.Containerfile
# 
      # - name: Push rust
        # uses: redhat-actions/push-to-registry@v2
        # with:
          # image: ${{ steps.rust.outputs.image }}
          # tags: ${{ steps.rust.outputs.tags }}
          # registry: ${{ env.REGISTRY }}

      # # ---- PYTHON ----

      - name: python
        id: python
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: python
          context: .
          containerfiles: |
            ./images/python.Containerfile

      - name: Push python
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.python.outputs.image }}
          tags: ${{ steps.python.outputs.tags }}
          registry: ${{ env.REGISTRY }}
